<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Упс... Страница не найдена 🔍</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="card">
    <h1 class="font-cute">404</h1>
    <p class="description">Упс, эта страничка куда-то потерялась...</p>
    <a th:href="@{/}" class="btn btn-yes" style="text-decoration: none; display: inline-block;">На главную 🏠</a>
  </div>
</body>
</html>
